<div class="page-head">
  <h2 class="page-head-title">Mantenimiento de Tarifa</h2>
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb page-head-nav">
      <li class="breadcrumb-item"><a href="#">Mantenimiento</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/form/mantenimiento/listadoclientes']" routerLinkActive="router-link-active" >Listado de Proveedores - Tarifa</a></li>
      <li class="breadcrumb-item active">Nueva Tarifa</li>
    </ol>
  </nav>
</div>
<div class="main-content container-fluid">


    <div class="col-md-12">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider"><span class="card-subtitle">Nueva Tarifa</span></div>
        <div class="card-body ">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="form-row">
            <div class="col-6">
            <div class="card-header card-header-divider"><span class="card-subtitle">Destino</span></div>
            <div class="card-body ">
            <div class="form-row col-6">
                <div class="form-group">
                  <label>Departamento</label>
                    <p-dropdown name="id" formControlName="iddestinodepartamento"   id="iddestinodepartamento" [options]="listaDepartamento"
                            [(ngModel)]="model.iddestinodepartamento"  (onChange)="cargarProvinciasDestino($event)"
                            [ngClass]="{ 'is-invalid': submitted && f.iddestinodepartamento.errors }"
                          scrollHeight="40vh"
                          placeholder="seleccione un departamento"
                          [style]="{'width':'100%'}"  [resetFilterOnHide]="true"
                          [hideTransitionOptions]="'0ms'"
                          [showTransitionOptions]="'0ms'"   >
                    <ng-template let-item pTemplate="selectedItem">
                    <span style="vertical-align:middle;">{{item.label}}</span>
                    </ng-template>

                    </p-dropdown>
                    <div *ngIf="submitted && f.iddestinodepartamento.errors" class="invalid-feedback">
                      <div *ngIf="f.iddestinodepartamento.errors.required">Seleccione un departamento</div>
                      </div>

                </div>
                <div class=" form-group">
                    <label>Provincia</label>
                    <p-dropdown name="iddestinoprovincia" formControlName="iddestinoprovincia"  id="iddestinoprovincia" [options]="listaProvinciaDestino"
                        [(ngModel)]="model.iddestinoprovincia"  (onChange)="cargarDistritosDestino($event)"
                      scrollHeight="40vh"
                      placeholder="seleccione una provincia"
                      [style]="{'width':'100%'}"  [resetFilterOnHide]="true"
                      [hideTransitionOptions]="'0ms'"
                      [showTransitionOptions]="'0ms'"   >
                    <ng-template let-item pTemplate="selectedItem">
                    <span style="vertical-align:middle;">{{item.label}}</span>
                    </ng-template>

                    </p-dropdown>

                </div>
                  <div class="form-group">
                      <label>Distrito</label>
                      <p-dropdown name="iddestinodistrito" formControlName="iddestinodistrito"  id="iddestinodistrito" [options]="listaDistritoDestino"
                          [(ngModel)]="model.iddestinodistrito"
                        scrollHeight="40vh"
                        placeholder="seleccione un documento"
                        [style]="{'width':'100%'}"  [resetFilterOnHide]="true"
                        [hideTransitionOptions]="'0ms'"
                        [showTransitionOptions]="'0ms'"   >
                      <ng-template let-item pTemplate="selectedItem">
                      <span style="vertical-align:middle;">{{item.label}}</span>
                      </ng-template>

                      </p-dropdown>

                </div>
            </div>
            </div>
            </div>
            <div class="col-6">

            <div class="card-header card-header-divider"><span class="card-subtitle">General</span></div>
            <div class="card-body ">
            <div class="form-row col-12">
            <div class="form-group">
              <label>Tipo Unidad</label>
              <p-dropdown name="idtipounidad" formControlName="idtipounidad"  id="idtipounidad" [options]="listamodotransporte"
                    [(ngModel)]="model.idtipounidad"
                    [ngClass]="{ 'is-invalid': submitted && f.idtipounidad.errors }"
                    scrollHeight="40vh"
                    placeholder="seleccione un tipo de vehículo"
                    [style]="{'width':'100%'}"  [resetFilterOnHide]="true"
                    [hideTransitionOptions]="'0ms'"
                    [showTransitionOptions]="'0ms'"   >
              <ng-template let-item pTemplate="selectedItem">
              <span style="vertical-align:middle;">{{item.label}}</span>
              </ng-template>

              </p-dropdown>
              <div *ngIf="submitted && f.idtipounidad.errors" class="invalid-feedback">
              <div *ngIf="f.idtipounidad.errors.required">Seleccione un tipo de unidad</div>
              </div>
            </div>
            </div>
            <div class="form-row">
                <div class="form-group col-3">
                    <label>Precio</label>
                        <div>
                          <p-inputNumber  :min="0" :max="500000" currency="PEN"  mode="currency" locale="es-PE"
                            [maxFractionDigits]="2" formControlName="precio"  autocomplete="off"
                          [ngClass]="{ 'is-invalid': submitted && f.precio.errors }" [(ngModel)]="model.precio"  placeholder="Tarifa precio"  name="precio" ></p-inputNumber>
                          <div *ngIf="submitted && f.precio.errors" class="invalid-feedback">
                          <div *ngIf="f.precio.errors.required">Ingrese la tarifa precio</div>
                          </div>
                        </div>
                </div>
            </div>
            </div>

            </div>
      </div>
          <div class="form-row">
            <div class="row col-offset-6 col-6 mt-1">


                    <div class="col-6">
                    <button  class="btn btn-space btn-block btn-primary" type="submit">Guardar</button>
                  </div>
                  <div class="col-6">
                    <button  (click)="cancel()" class="btn btn-space btn-block btn-secondary">Cancel</button>
                  </div>


            </div>

            </div>
          </form>
        </div>
        </div>
      </div>
  </div>


  <p-toast position="top-right"></p-toast>
<!-- <ngx-spinner size="default" type = "ball-spin-fade"></ngx-spinner> -->
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
