
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header">
            <b> Documentos por Liquidar </b>
        </div>

        <div class="row col-10">
            <div class="col-2">
              <button   pButton iconPos="left" label="Liquidar"  (click)="liquidar()"  type="button"></button>
            </div>
            <div class="col-2">
              <button   pButton iconPos="left" label="Guias Asignadas"  (click)="verguias(1)"  type="button"></button>
              </div>
            <div class="col-2">
                <button   pButton iconPos="left" label="Regresar"  (click)="volver()"  type="button"></button>
            </div>
        </div>

          <div class="card-body">
              <div  class="mat-elevation-z8">

                <p-table  [columns]="cols"
                  [scrollable]="false"  [style]="{width:'100%'}"
                  [rowsPerPageOptions]="[20,40,60,120]"
                  [(selection)]="selected"
                  [value]="ordenes" #dt [paginator]="true" selectionMode="single"
                  [rows]="20" [resizableColumns]="true" [responsive]="true" >


                    <ng-template pTemplate="colgroup" let-columns>
                      <colgroup>
                          <col *ngFor="let col of columns"   [ngStyle]="{'width': col.width}" >
                      </colgroup>
                  </ng-template>


                    <ng-template pTemplate="header" let-columns>
                      <tr>
                          <th  [ngStyle]="{'width': col.width}" *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
                              {{col.header}}
                          </th>
                      </tr>
                  </ng-template>


                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr [pSelectableRow]="rowData">
                    <td class="ui-resizable-column" style="text-align:left;">
                      <button type='button'  class='btn-primary btn btn-xs' pButton (click)="verguias(rowData.idordentrabajo)" title='Liquidar' icon="fa fa-envelope-open">  </button>
                    </td>
                    <td class="ui-resizable-column"  style="text-align:center;"> <a style="cursor: pointer" >  {{ rowData.numcp    }}  </a> </td>

                    <td class="ui-resizable-column" style="text-align:center;"> {{rowData.fecharegistro | date: 'dd-MM-yyyy hh:mm' }}</td>
                    <td class="ui-resizable-column" style="text-align:center;"> {{rowData.responsable}} </td>
                    <td class="ui-resizable-column" style="text-align:left;"> {{rowData.razonsocial  }}</td>
                    <td class="ui-resizable-column" style="text-align:left;"> {{rowData.fechahoracita | date: 'dd-MM-yyyy hh:mm'}} </td>
                    <td  [ngClass]="rowData.estado == 'Registrado' ? 'very-old-car' :  (rowData.estado == 'Programaddo'?'': rowData.estado == 'Programado'?'old-car': null) "> {{rowData.estado}}</td>
                    <td class="ui-resizable-column" style="text-align:left;"> {{rowData.personarecojo }} </td>
                    <td class="ui-resizable-column" style="text-align:left;"> {{rowData.tipounidad}}</td>
                    <td class="ui-resizable-column" style="text-align:left;"> {{rowData.puntorecojo}}</td>
                    <td class="ui-resizable-column" style="text-align:left;"> {{rowData.centroacopio}}</td>
                    <td class="ui-resizable-column" style="text-align:center;"> {{rowData.bulto}}</td>
                    <td class="ui-resizable-column" style="text-align:center;"> {{rowData.peso}}</td>
                    <td class="ui-resizable-column" style="text-align:center;"> {{rowData.volumen}}</td>

                </tr>
                </ng-template>
                </p-table>
              </div>

          </div>
      </div>

      <p-confirmDialog  header="Confirmación" icon="pi pi-exclamation-triangle"></p-confirmDialog>
