

 <div class="card card-border-color card-border-color-primary">
  <div class="card-header">
      <b> KPI Retorno Documentario </b>


  </div>

  <div class="card-body">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
    <div  class="mat-elevation-z8">
        <div class="card card-border-color card-border-color-primary">
          <div class="card-header">
                    <b> Filtro de búsqueda  </b>
              </div>
          <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                <label>Departamento</label>
                <p-dropdown name="id"    id="iddepartamento" [options]="listaDepartamento"
                        [(ngModel)]="model.iddepartamento"  (onChange)="cargarProvinciasDestino($event)"

                      scrollHeight="40vh"
                      placeholder="seleccione un departamento"
                      [style]="{'width':'100%'}"  [resetFilterOnHide]="true"
                      [hideTransitionOptions]="'0ms'"
                      [showTransitionOptions]="'0ms'"   >
                <ng-template let-item pTemplate="selectedItem">
                <span style="vertical-align:middle;">{{item.label}}</span>
                </ng-template>
              </p-dropdown>
                </div>
                <div class="col-md-3">
                    <div class=" form-group">
                      <label>Provincia</label>
                      <p-dropdown name="idprovincia"   id="idprovincia" [options]="listaProvincia"
                          [(ngModel)]="model.idprovincia"
                        scrollHeight="40vh"
                        placeholder="seleccione una provincia"
                        [style]="{'width':'100%'}"  [resetFilterOnHide]="true"
                        [hideTransitionOptions]="'0ms'"
                        [showTransitionOptions]="'0ms'"   >
                      <ng-template let-item pTemplate="selectedItem">
                      <span style="vertical-align:middle;">{{item.label}}</span>
                      </ng-template>

                      </p-dropdown>
                    </div>
              </div>

                <div class="col-md-3">
                  <div class=" form-group">
                    <label>Cliente</label>

                  <p-dropdown name="clientes"
                      [options]="clientes" [(ngModel)]="model.idcliente"
                      scrollHeight="30vh"  class="input-form-field"
                      [virtualScroll]="true" itemSize="30"
                      [style]="{'width':'100%'}" [resetFilterOnHide]="false"
                      [hideTransitionOptions]="'0ms'"
                      [showTransitionOptions]="'0ms'"
                      filter="false">
                          <ng-template let-item pTemplate="selectedItem">
                              <span style="vertical-align:left;">{{item.label}}</span>
                          </ng-template>
                    </p-dropdown>
              </div>
                </div>

              </div>
              <div class="row">


            <div class="col-md-2 mb-5">
                <h5>Inicio:</h5>
                <p-calendar [(ngModel)]="dateInicio"   baseZIndex="100" [locale]="es" dateFormat="dd/mm/yy"></p-calendar>
            </div>
            <div class="col-md-2 mb-5">
                <h5>Fin:</h5>
                <p-calendar [(ngModel)]="dateFin"   baseZIndex="100" [locale]="es" dateFormat="dd/mm/yy"></p-calendar>
            </div>


              <div class="col-md-2 mt-3">
                      <button   class='btn-primary btn btn-xs' pButton iconPos="left" label="Buscar" icon="fa fa-search"   (click)="buscar()"  type="button"></button>
              </div>
              <div class="col-md-2 mt-3">
                      <button   class='btn-primary btn btn-xs' type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()"></button>
              </div>
          </div>
          </div>
                </div>

 </div>


<!--

                <div class="row">

                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-stats">
                      <div class="card-header card-header-warning card-header-icon">
                          <div class="card-icon">
                              <i class="material-icons">content_copy</i>
                          </div>
                          <p class="card-category">Total OTs</p>
                          <h3 class="card-title"> {{ model.total }}
                              <small>OTs</small>
                          </h3>
                      </div>
                      <div class="card-footer">
                        <div class="stats">
                          <i class="material-icons">date_range</i>  Rango seleccionado
                      </div>
                      </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category"> A Tiempo </p>
                        <h3 class="card-title"> {{ model.coinciden }}
                            <small>OTs</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">date_range</i> Rango seleccionado
                    </div>
                    </div>
                </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <p class="card-category">Fuera de Tiempo</p>
                      <h3 class="card-title"> {{ model.nocoinciden }}
                          <small>OTs</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons">date_range</i>  Rango seleccionado
                  </div>
                  </div>
                </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Pendientes fuera de fecha</p>
                        <h3 class="card-title"> {{  model.pendientes }}
                            <small>OTs</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">date_range</i>  Rango seleccionado
                    </div>
                    </div>
                  </div>
                  </div>


                </div>
                <div class="row">
                <div class="mt-5  col-md-10">
                <div class="widget widget-tile bg-white">
                <div class="chart sparkline" id="spark2"></div>
                <div class="data-info">
                  <div class="report-title">Último mes</div>

                    <p-chart type="doughnut" [data]="data"></p-chart>

                </div>

                </div>
                </div>
                </div>
      </div>
  </div>
</div> -->
