.old-car {
    background-color: #1CA979 !important;
    color: #ffffff !important;
}

.very-old-car {
    background-color: #f12a2a !important;
    color: #ffffff !important;
}
.ui-splitbutton .ui-button.ui-splitbutton-menubutton {
    width: 32px;
    position: absolute;
    top: 0px;
    margin-left: -1px;
    right: 0px;
}
