.click {
  text-decoration: overline;
  text-decoration-color: azure;
}

.titulo {

font-size: 20px;
font-weight: 800;
margin: 4px,4px,4px,4px;
margin-bottom: 20px;
}



.subtitulo {

  font-size: 20px;
  font-weight: 800;
  margin: 4px,4px,4px,4px;
  margin-bottom: 20px;
  background-color: burlywood;
  font-style: italic;
  padding-left: 20px;


  }
